In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
import math
import seaborn as sns


# 경고 메시지 숨기기
warnings.filterwarnings("ignore")

In [8]:
df = pd.read_csv("../model/data_total.csv")
df

,Unnamed: 0,msno,city,bd,gender,registered_via,registration_init_time,is_churn,is_back,payment_plan_sum,...,transaction_count,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs,log_start,log_end
0,1,6597367,4,30,male,9,2011-09-16,0,0,603,...,21,77,22,16,44,658,287,171508.646,20150209,20170331
1,2,3629318,5,34,male,9,2011-09-16,1,0,360,...,2,145,84,58,42,1678,1158,448313.054,20160822,20170330
2,3,2120253,13,63,male,9,2011-09-18,0,0,783,...,27,1173,390,246,308,5003,5784,1435958.164,20150103,20170330
3,4,2836580,1,0,NaN,7,2011-09-18,1,0,780,...,27,830,252,197,276,3326,3543,982573.945,20150101,20170328
4,5,661240,4,28,female,9,2011-09-20,0,0,270,...,10,81,20,12,16,438,343,107171.103,20150301,20170331
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
856561,955121,4441402,1,0,NaN,7,2015-10-20,0,0,540,...,18,356,254,115,75,700,988,253640.163,20151020,20170331
856562,955122,2788470,1,0,NaN,7,2015-10-20,0,0,540,...,18,4662,680,544,746,13437,16732,3658622.489,20151020,20170331
856563,955123,2755294,1,0,NaN,7,2015-10-20,0,0,540,...,18,439,91,56,57,7421,4749,1376617.577,20151023,20170331
856564,955124,6133792,6,26,female,7,2015-10-20,0,0,570,...,19,10890,1055,631,513,6457,15314,1954030.130,20151020,20170331
856565,955125,5452298,1,0,NaN,7,2015-10-20,0,0,540,...,18,860,187,129,110,2976,2926,811341.331,20151025,20170326

### 기간 파생변수 생성

In [9]:
df.columns

Index(['Unnamed: 0', 'msno', 'city', 'bd', 'gender', 'registered_via',
       'registration_init_time', 'is_churn', 'is_back', 'payment_plan_sum',
       'plan_list_price', 'actual_amount_paid', 'discount_rate',
       'is_auto_renew', 'membership_expire_date', 'is_cancel',
       'transaction_count', 'num_25', 'num_50', 'num_75', 'num_985', 'num_100',
       'num_unq', 'total_secs', 'log_start', 'log_end'],
      dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 856566 entries, 0 to 856565
Data columns (total 26 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Unnamed: 0              856566 non-null  int64
 1   msno                    856566 non-null  int64
 2   city                    856566 non-null  int64
 3   bd                      856566 non-null  int64
 4   gender                  368210 non-null  object
 5   registered_via          856566 non-null  int64
 6   registration_init_time  856566 non-null  object
 7   is_churn                856566 non-null  int64
 8   is_back                 856566 non-null  int64
 9   payment_plan_sum        856566 non-null  int64
 10  plan_list_price         856566 non-null  int64
 11  actual_amount_paid      856566 non-null  int64
 12  discount_rate           856566 non-null  float64
 13  is_auto_renew           856566 non-null  float64
 14  membership_expire_date  856566 non-null  object
 15  is_cancel               856566 non-null  float64
 16  transaction_count       856566 non-null  int64
 17  num_25                  856566 non-null  int64
 18  num_50                  856566 non-null  int64
 19  num_75                  856566 non-null  int64
 20  num_985                 856566 non-null  int64
 21  num_100                 856566 non-null  int64
 22  num_unq                 856566 non-null  int64
 23  total_secs              856566 non-null  float64
 24  log_start               856566 non-null  int64
 25  log_end                 856566 non-null  int64
dtypes: float64(4), int64(19), object(3)
memory usage: 169.9+ MB

In [11]:
def duration(df):
    # membership_expire_date와 registration_init_time은 'YYYY-MM-DD' 형식으로 되어 있으므로, 그에 맞춰 변환
    df['membership_expire_date'] = pd.to_datetime(df['membership_expire_date'], errors='coerce')
    df['registration_init_time'] = pd.to_datetime(df['registration_init_time'], errors='coerce')
    
    # log_start와 log_end는 'YYYYMMDD' 형식이므로, 그에 맞춰 변환
    df['log_start'] = pd.to_datetime(df['log_start'].astype(str), format='%Y%m%d', errors='coerce')
    df['log_end'] = pd.to_datetime(df['log_end'].astype(str), format='%Y%m%d', errors='coerce')

    # 등록기간 계산: membership_expire_date와 registration_init_time 차이
    df['registration_duration'] = (df['membership_expire_date'] - df['registration_init_time']).dt.days

    # 음악 청취 기간 계산: log_end와 log_start 차이
    df['listening_duration'] = (df['log_end'] - df['log_start']).dt.days

    # 필요 없는 컬럼 삭제
    df.drop(['membership_expire_date', 'registration_init_time', 'log_start', 'log_end'], axis=1, inplace=True)

    return df

# 함수 실행
df = duration(df)

In [12]:
df[['registration_duration', 'listening_duration']].head()

   registration_duration  listening_duration
0                   2070                 781
1                   2168                 220
2                   2047                 817
3                   2048                 817
4                   2021                 761

### 성별 NAN삭제

In [13]:
df['gender'].isna().sum()

488356

In [14]:
df = df[df['gender'].notna()]

In [15]:
df['gender'].isna().sum()

0

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 368210 entries, 0 to 856564
Data columns (total 24 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             368210 non-null  int64
 1   msno                   368210 non-null  int64
 2   city                   368210 non-null  int64
 3   bd                     368210 non-null  int64
 4   gender                 368210 non-null  object
 5   registered_via         368210 non-null  int64
 6   is_churn               368210 non-null  int64
 7   is_back                368210 non-null  int64
 8   payment_plan_sum       368210 non-null  int64
 9   plan_list_price        368210 non-null  int64
 10  actual_amount_paid     368210 non-null  int64
 11  discount_rate          368210 non-null  float64
 12  is_auto_renew          368210 non-null  float64
 13  is_cancel              368210 non-null  float64
 14  transaction_count      368210 non-null  int64
 15  num_25                 368210 non-null  int64
 16  num_50                 368210 non-null  int64
 17  num_75                 368210 non-null  int64
 18  num_985                368210 non-null  int64
 19  num_100                368210 non-null  int64
 20  num_unq                368210 non-null  int64
 21  total_secs             368210 non-null  float64
 22  registration_duration  368210 non-null  int64
 23  listening_duration     368210 non-null  int64
dtypes: float64(4), int64(19), object(1)
memory usage: 70.2+ MB

* 성별 인코딩

In [17]:
df['gender']

0           male
1           male
2           male
4         female
5         female
           ...
856540      male
856547      male
856548    female
856559      male
856564    female
Name: gender, Length: 368210, dtype: object

In [18]:
def encode_gender(df):
    # 성별 인코딩: M -> 1, F -> 0, nan -> -1 (또는 원하는 값으로 변경)
    df['gender'] = df['gender'].map({'male': 1, 'female': 0})
    
    return df

In [ ]:
df = encode_gender(df)
df['gender'].unique()

array([1, 0], dtype=int64)

### 나이 전처리

* 나이 절대값

In [29]:
df["bd"] = df["bd"].abs()

* 나이 10이상 100이하 추출

In [33]:
df = df[(df["bd"] >= 10) & (df["bd"] <= 100)]

### 필요없는 컬럼 드롭

In [ ]:
df.drop(['Unnamed: 0', 'is_back', 'msno'], axis=1, inplace=True)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 356277 entries, 0 to 856564
Data columns (total 22 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   city                   356277 non-null  int64
 1   bd                     356277 non-null  int64
 2   gender                 356277 non-null  int64
 3   registered_via         356277 non-null  int64
 4   is_churn               356277 non-null  int64
 5   is_back                356277 non-null  int64
 6   payment_plan_sum       356277 non-null  int64
 7   plan_list_price        356277 non-null  int64
 8   actual_amount_paid     356277 non-null  int64
 9   discount_rate          356277 non-null  float64
 10  is_auto_renew          356277 non-null  float64
 11  is_cancel              356277 non-null  float64
 12  transaction_count      356277 non-null  int64
 13  num_25                 356277 non-null  int64
 14  num_50                 356277 non-null  int64
 15  num_75                 356277 non-null  int64
 16  num_985                356277 non-null  int64
 17  num_100                356277 non-null  int64
 18  num_unq                356277 non-null  int64
 19  total_secs             356277 non-null  float64
 20  registration_duration  356277 non-null  int64
 21  listening_duration     356277 non-null  int64
dtypes: float64(4), int64(18)
memory usage: 62.5 MB

### 최종 데이터 저장

In [37]:
df.to_csv("../model/is_back+churn_Data.csv", index=False)