데이터 다운로드

https://www.kaggle.com/c/kkbox-churn-prediction-challenge/data

분석예시

https://github.com/TAEJIN-AHN/Churn-Prediction/blob/main/eda.ipynb

In [2]:
import numpy as np
import pandas as pd
# import venn
import matplotlib.pyplot as plt
# from pyspark.sql import *
# from pyspark.sql.functions import *

In [53]:
data_dir = 'C:\\Users\\USER\\Downloads\\data\\'
members = pd.read_csv(data_dir + 'members_v3.csv')
train_v1 = pd.read_csv(data_dir + 'train.csv')
train_v2 = pd.read_csv(data_dir + 'train_v2.csv')
transactions_v1 = pd.read_csv(data_dir + 'transactions.csv')
transactions_v2 = pd.read_csv(data_dir + 'transactions_v2.csv')

In [54]:
train_v1['version'] = 'v1'
train_v2['version'] = 'v2'
train = pd.concat([train_v1, train_v2])
train = train.sort_values(['msno', 'version'], ascending = [True, False]).reset_index(drop=True)
train.head()

                                           msno  is_churn version
0  +++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=         0      v2
1  +++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=         0      v1
2  +++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=         0      v2
3  +++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=         0      v1
4  +++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=         0      v2

In [55]:
aa = train['msno'][(train['is_churn'] == 0) & (train['version'] == 'v2')]
bb = train['msno'][(train['is_churn'] == 1) & (train['version'] == 'v1')]
cc = list(set(aa) & set(bb))
train['is_back'] = train['msno'].isin(cc).astype(int)

In [56]:
# 중복값을 제거하되, 중복 Row 중 첫번째 Row를 남기는 옵션을 선택함
train.drop_duplicates(subset='msno', keep='first', inplace=True)
train.query('msno in "+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o="')
# version 컬럼 제거
train = train.drop('version', axis=1)

In [52]:
print(members['msno'].value_counts())

msno
Rb9UwLQTrxzBVwCB6+bCcSQWZ9JiNLC9dXtM1oEsZA8=    1
PGMUlQdko0uXXoCQPExJlol12c10nQfLOetUAY6B3lY=    1
Xc7Z1KCy0h1hlnDSNQTRDoJFWSf2Ory93q97YtRNnQo=    1
Xr9r7F/tUtVoxu9MCJXK/27YBVy/nnj1ekVFyEH3YDY=    1
aoHHsM5ESvp0tjzxVJrDEkuHeWl+PD/6/Kx24B/T6FY=    1
                                               ..
XB9rxThgZ9W5xF1po2gwphrgyRN0pa/J/aGJg7WEWV4=    1
e6lD1fgl57K4fCCSz4pqs7xSrTvnVuxF0uKNCCctN+U=    1
q8DP/lKrwjULVMd/fSk0uO26ndzqG26/TTNpYm8ZGtc=    1
W/gRBgE8E7G4RQHsInX208phSSm5L+L1HZax7BrgIHY=    1
isBt+JlgvZRNy6lxVr5vvuJ4lD00ofTaKyJ+uRnGcPg=    1
Name: count, Length: 6769473, dtype: int64

In [5]:
# train_v1과 train_v2에 각각 'version'이라는 Column을 만들고 'v1', 'v2'라는 값을 채워넣음
# train_v1 = train_v1.withColumn('version', lit('v1'))
train_v1['version'] = 'v1'
# train_v2 = train_v2.withColumn('version', lit('v2'))
train_v2['version'] = 'v2'
train_v1.head(2), train_v2.head(2)

(                                           msno  is_churn version
 0  waLDQMmcOu2jLDaV1ddDkgCrB/jl6sD66Xzs0Vqax1Y=         1      v1
 1  QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=         1      v1,
                                            msno  is_churn version
 0  ugx0CjOMzazClkFzU2xasmDZaoIqOUAZPsH1q0teWCg=         1      v2
 1  f/NmvEzHfhINFEYZTR05prUdr+E+3+oewvweYz9cCQE=         1      v2)

In [45]:
# train_v1과 train_v2를 Union 연산으로 합친 후 'msno', 'version'의 값에 따라 정렬
# train이라는 변수에 다시 할당하며, 'version'은 내림차순으로 정렬
# train = train_v1.union(train_v2).sort(['msno', 'version'], ascending = [1, 0])
train = pd.concat([train_v1, train_v2])
train = train.sort_values(['msno', 'version'], ascending = [True, False]).reset_index(drop=True)
# train[train['msno'] in "++9JUsaZioofS6Fb2%"]
train.head()

                                           msno  is_churn version
0  +++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=         0      v2
1  +++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=         0      v1
2  +++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=         0      v2
3  +++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=         0      v1
4  +++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=         0      v2

In [51]:
aa = train['msno'][(train['is_churn'] == 0) & (train['version'] == 'v2')]
bb = train['msno'][(train['is_churn'] == 1) & (train['version'] == 'v1')]
cc = list(set(aa) & set(bb))
dd = train[train['msno'].isin(cc)]
# ee = dd[(dd['is_churn'] == 0) & (dd['version'] == 'v2')]
train[train['msno'].isin(dd['msno'])]

,msno,is_churn,version,is_back
217,++ViQ2i7L4hzLdBQ233Z8p4AxK9Vr38lSqZS09d2M84=,0,v2,1
218,++ViQ2i7L4hzLdBQ233Z8p4AxK9Vr38lSqZS09d2M84=,1,v1,1
1086,+0IB7MWTM4NvIKKwyMxj3eZNx1qScVFMVfJyOXN17ns=,0,v2,1
1087,+0IB7MWTM4NvIKKwyMxj3eZNx1qScVFMVfJyOXN17ns=,1,v1,1
1223,+0YmUYR0D0TlksmWTnLZYbpnE6XIER+beos5d5y69Xs=,0,v2,1
...,...,...,...,...
1962429,zwnDcSlUD75+UbGgzM9JAlGsFQZvuKTd8EQRWO1RTm4=,1,v1,1
1962625,zxDfZ61ZgAWmJIREucBs+oDprVEBbvtZAm6reUcPsqY=,0,v2,1
1962626,zxDfZ61ZgAWmJIREucBs+oDprVEBbvtZAm6reUcPsqY=,1,v1,1
1963267,zyZuDPFIkg0VDa7tAr0zQVAhLtwhZR3qXuhvTrtNV8E=,0,v2,1
1963268,zyZuDPFIkg0VDa7tAr0zQVAhLtwhZR3qXuhvTrtNV8E=,1,v1,1

In [48]:
train['is_back'] = train['msno'].isin(cc).astype(int)
train[train['is_back'] == 1]

,msno,is_churn,version,is_back
217,++ViQ2i7L4hzLdBQ233Z8p4AxK9Vr38lSqZS09d2M84=,0,v2,1
218,++ViQ2i7L4hzLdBQ233Z8p4AxK9Vr38lSqZS09d2M84=,1,v1,1
1086,+0IB7MWTM4NvIKKwyMxj3eZNx1qScVFMVfJyOXN17ns=,0,v2,1
1087,+0IB7MWTM4NvIKKwyMxj3eZNx1qScVFMVfJyOXN17ns=,1,v1,1
1223,+0YmUYR0D0TlksmWTnLZYbpnE6XIER+beos5d5y69Xs=,0,v2,1
...,...,...,...,...
1962429,zwnDcSlUD75+UbGgzM9JAlGsFQZvuKTd8EQRWO1RTm4=,1,v1,1
1962625,zxDfZ61ZgAWmJIREucBs+oDprVEBbvtZAm6reUcPsqY=,0,v2,1
1962626,zxDfZ61ZgAWmJIREucBs+oDprVEBbvtZAm6reUcPsqY=,1,v1,1
1963267,zyZuDPFIkg0VDa7tAr0zQVAhLtwhZR3qXuhvTrtNV8E=,0,v2,1
1963268,zyZuDPFIkg0VDa7tAr0zQVAhLtwhZR3qXuhvTrtNV8E=,1,v1,1

In [49]:
train.shape

(1963891, 4)

In [8]:
train['msno'][-2:-1].values[0] == train['msno'][-1:].values[0]

False

In [9]:
# train[train['msno'].str.contains("++9JUsaZioofS6Fb2%")]
# train.query('msno.str.contains("++9JUsaZioofS6Fb2%")')
train.query('msno in "+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o="')

                                           msno  is_churn version
0  +++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=         0      v2
1  +++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=         0      v1

In [10]:
# 중복값을 제거하되, 중복 Row 중 첫번째 Row를 남기는 옵션을 선택함
# w = Window().partitionBy('msno').orderBy(col('version').desc())
# train = train.withColumn('rn', row_number().over(w)).filter(col('rn')==1).drop('rn')
# train.filter(train.msno.like("++9JUsaZioofS6Fb2%")).show()

train.drop_duplicates(subset='msno', keep='first', inplace=True)
train.query('msno in "+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o="')

                                           msno  is_churn version
0  +++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=         0      v2

In [11]:
# version 컬럼 제거
train = train.drop('version', axis=1)
# train.filter(train.msno.like("++9JUsaZioofS6Fb2%")).show()
train.query('msno in "+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o="')

                                           msno  is_churn
0  +++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=         0

In [57]:
# 서비스 사용 기록과 구매 기록 데이터 합치기
# transactions = transactions_v1.union(transactions_v2).sort(['msno', 'transaction_date'])
transactions = pd.concat([transactions_v1, transactions_v2])
transactions = transactions.sort_values(['msno', 'transaction_date']).reset_index(drop=True)
# user_logs = user_logs_v1.union(user_logs_v2).sort(['msno', 'date'])
# user_logs = pd.concat([user_logs_v1, user_logs_v2])
# user_logs = user_logs.sort_values(['msno', 'transaction_date']).reset_index(drop=True)

### 고객 구분 ID를 일련 번호로 대체하기
- 본 데이터셋에서는 고객을 구분하기 위해 18글자 길이의 해쉬값(예: ++9JUsaZioofS6Fb2%)을 사용하는데, 너무 긴 탓에 한 눈에 고객을 구분하기가 쉽지 않음
- 위와 같은 이유로 이후 프로젝트 진행에서는 해쉬값을 일련 번호로 대체하고자 함

In [13]:
unique_msno = np.append(members['msno'].unique(), train['msno'].unique())
unique_msno = np.append(unique_msno, transactions['msno'].unique())
unique_msno.sort()
unique_msno

array(['+++4vcS9aMH7KWdfh5git6nA5fC5jjisd5H/NcM++WM=',
       '+++5EL4GxAvkaQctwqinyuJhkHEofaKoP2EMm0EoRAo=',
       '+++A5IxXtG7Qtf8jDzxPT3J2urTd5HyB316rrLG6PtU=', ...,
       'zzzueVTwIa5TjXnG2c77bohCVkuksqLkd5mQTP0wTwQ=',
       'zzzyOgMk9MljCerbCCYrVtvu85aSCiy7yCMjAEgNYMs=',
       'zzzyOgMk9MljCerbCCYrVtvu85aSCiy7yCMjAEgNYMs='], dtype=object)

In [58]:
# msno 고유값 추출
unique_msno = pd.concat([
    members[['msno']],
    train[['msno']],
    transactions[['msno']]
]).drop_duplicates().reset_index(drop=True)

# msno에 대한 고유 번호 할당
unique_msno['msno_num'] = range(1, len(unique_msno) + 1)

In [60]:
len(unique_msno)

7207283

In [62]:
len(unique_msno['msno'].unique())

7207283

In [63]:
unique_msno.to_csv('./unique_msno.csv', index=False)

In [109]:
# msno 고유값 추출
unique_msno = pd.concat([
    members[['msno']],
    train[['msno']],
    transactions[['msno']]
]).drop_duplicates().reset_index(drop=True)

# msno에 대한 고유 번호 할당
unique_msno['msno_num'] = range(1, len(unique_msno) + 1)

# 기존 데이터프레임에 msno_num 추가
train = train.merge(unique_msno, on='msno', how='left').drop(columns=['msno'])
members = members.merge(unique_msno, on='msno', how='left').drop(columns=['msno'])
transactions = transactions.merge(unique_msno, on='msno', how='left').drop(columns=['msno'])
# user_logs = user_logs.merge(unique_msno, on='msno', how='left').drop(columns=['msno'])

# 필요한 컬럼만 선택
train = train[['msno_num', 'is_churn']]
members = members[['msno_num', 'city', 'bd', 'gender', 'registered_via', 'registration_init_time']]
# user_logs = user_logs[['msno_num', 'date', 'num_25', 'num_50','num_75','num_985', 'num_100','num_unq','total_secs']]
transactions = transactions[['msno_num', 'payment_method_id', 'payment_plan_days', 'plan_list_price', 'actual_amount_paid', 'is_auto_renew', 'transaction_date', 'membership_expire_date', 'is_cancel']]

# 변환된 데이터 확인
print(train.head())
print(members.head())
print(transactions.head())
# print(user_logs.head())

   msno_num  is_churn
0   1243772         0
1   5813287         0
2   3574275         0
3   3176456         0
4    397420         0
   msno_num  city  bd  gender  registered_via  registration_init_time
0         1     1   0     NaN              11                20110911
1         2     1   0     NaN               7                20110914
2         3     1   0     NaN              11                20110915
3         4     1   0     NaN              11                20110915
4         5     6  32  female               9                20110915
   msno_num  payment_method_id  payment_plan_days  plan_list_price  \
0    681048                 35                  7                0
1   3323218                 38                410             1788
2   3323218                 22                395             1599
3   1243772                 41                 30               99
4   1243772                 41                 30               99

   actual_amount_paid  is_auto_renew  transaction_date  \
0                   0              0          20160909
1                1788              0          20151121
2                1599              0          20161023
3                  99              1          20161116
4                  99              1          20161215

   membership_expire_date  is_cancel
0                20160914          0
1                20170104          0
2                20180206          0
3                20161215          0
4                20170115          0

### 날짜 데이터의 형식을 Integer에서 Date로 변경하기

In [110]:
date_dict = {members : ['new_members', ['registration_init_time']],
             transactions : ['new_transactions', ['transaction_date', 'membership_expire_date']]
            #  , user_logs : ['new_user_logs', ['date']]
             }

for key, value in date_dict.items():
  for d_col in value[1]:
    key = key.withColumn(d_col, col(d_col).cast('string')).select('*')
    key = key.withColumn(d_col, to_date(concat(col(d_col).substr(1, 4),
                                               lit('-'),
                                               col(d_col).substr(5, 2),
                                               lit('-'),
                                               col(d_col).substr(7, 2)))).select('*')
  value[0] = key
  
members = date_dict[members][0]
transactions = date_dict[transactions][0]
# user_logs = date_dict[user_logs][0]

TypeError: unhashable type: 'DataFrame'

### 이탈 여부를 확인할 수 있는 고객 확인

In [ ]:
# 각 데이터의 고객 집합 변수로 저장하기
user_logs_msno = set(user_logs.select(col('msno_num')).distinct().toPandas()['msno_num'])
train_msno = set(train.select(col('msno_num')).distinct().toPandas()['msno_num'])
transactions_msno = set(transactions.select(col('msno_num')).distinct().toPandas()['msno_num'])
members_msno = set(members.select(col('msno_num')).distinct().toPandas()['msno_num'])

# 고객 집합 벤다이어그램으로 나타내기
labels = venn.get_labels([user_logs_msno, train_msno, transactions_msno, members_msno], fill = ['number'])
venn.venn5(labels, names = ['user_logs', 'train', 'transactions', 'members'], figsize = (12, 12))
plt.show()

In [ ]:
# sampling 가능한 msno 리스트 확보하기
A = members.groupBy('msno_num').count()
B = train.groupBy('msno_num').count()
C = transactions.groupBy('msno_num').count()
D = user_logs.groupBy('msno_num').count()

sample_target_msno_all = A.join(B, on = 'msno_num', how = 'inner')\
                          .join(C, on = 'msno_num', how = 'inner')\
                          .join(D, on = 'msno_num', how = 'inner').distinct().drop('count')

total_pool = sample_target_msno_all.count()
print('샘플링이 가능한(4개 데이터셋에서 모두 존재하는) 이용자는 총 {}명입니다.'.format(total_pool))

# sample 비율 정하기
sample_ratio = 0.65
sample_target_msno = sample_target_msno_all.sample(sample_ratio).toPandas()
print('{}명 중 {}%를 샘플링하여 총 {}명을 train 및 test 데이터로 확정합니다.'.format(total_pool, sample_ratio * 100, len(sample_target_msno['msno_num'])))

In [ ]:
table_dict = {train : 'sample_train.parquet', members : 'sample_members.parquet', 
              transactions : 'sample_transactions.parquet', user_logs : 'sample_user_logs.parquet'}
for key, value in table_dict.items():
    key.filter(col('msno_num').isin(list(sample_target_msno['msno_num'])))\
       .coalesce(1).write.mode("overwrite").option("header", "true").parquet('./data/sample (ratio = 0.65)/' + value)